body {
    font-family: 'Abel', sans-serif;
    text-align: center;
    background: rgb(15, 144, 22);
    color: rgb(250, 245, 245);
    padding: 5%;
    margin: 10px;

}
/*game section*/
#game {
    max-width: 1400px;
    width: 500px;
    height: 500px;
    border: 5px solid #FFFF00;
    margin: auto;
    position:relative;
    
}

/*heading section*/
h1 {
    letter-spacing: 5px;
    word-spacing: 10px;
}

/*message section*/
#message {
    height: 60px;
    border-top: #FFF 1px solid;
    border-bottom: #fff 1px solid;
    }

#message p {
    letter-spacing: 2px;
}

/*score section*/
#score-both {
height: 70px;
margin-left: 17%;
margin-right: 18%;
word-spacing: 5px;
display: flex;
justify-content: space-evenly;
}

#score-both, p {
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 4px;
}

span {
    color:rgb(210, 5, 5);

}
#score-c{
    letter-spacing: 2px;
}

#user-score, #computer-score {
    font-size: xxx-large;
}

/*field section*/
#field-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 17%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 35px;
}

#reset {
    background-color: #fff;
    border-radius: 2px;
}

.fa-solid{
    transition: all 0.3s ease-in-out 0s; 
    cursor: pointer;
}
    
.fa-solid:hover{
    transform: rotate(180deg);
    
}

.rock {
    background: url(../images/rock.png) center no-repeat;
    background-color: #FFFF00;
}

.paper {
    background: url(../images/paper.png) center no-repeat;
    background-color: #FFFF00;
}

.scissors {
    background: url(../images/scissors.png) center no-repeat;
    background-color: #FFFF00;
}

.rock-c {
    background: url(../images/rockk.png) center no-repeat;
    background-color: #FFFF00;
}

.paper-c {
    background: url(../images/paperr.png) center no-repeat;
    background-color: #FFFF00;
}

.scissors-c {
    background: url(../images/scissorss.png) center no-repeat;
    background-color: #FFFF00;
}

.button {
    margin:13px 20px 5px;
    cursor:pointer;
    border:none;
    border-radius:50%;
    color:#fff;
    padding:30px 30px;
    font-size: 16px;
    box-shadow: 3px 3px 0 #3f0101;
    border: 1px solid black;
    transition:.2s;   
}

.fa-solid {
    font-size: x-large;
}

.user-choice:hover {
    transform: scale(1.2);
}

.computer-choice:hover {
 cursor: default;
}





