body {
    font-family: 'Abel', sans-serif;
    text-align: center;
    background: rgb(15, 144, 22);
    color: rgb(250, 245, 245);
    padding: 1%px;
    margin: 50px;
}

#game {
    margin: auto;
    width: 40%;
    border: 5px solid #FFFF00;
    padding: 3px;
}

h1 {
    letter-spacing: 5px;
    word-spacing: 10px;
}

#score-both {
height: 60px;
margin-left: 25%;
margin-right: 18%;
word-spacing: 5px;
}

#message {
  height: 65px;
  border-top: #FFF 1px solid;
  border-bottom: #fff 1px solid;
  }

#score-both, p {
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 4px;
}



span {
    color:firebrick;
}

#user-score, #computer-score {
    font-size: xxx-large;

}

#field-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 27%;
    margin-right: 27%;
    padding-top: 10px;
    padding-bottom: 35px;
}

/*#reset{
   background:#fff(15, 144, 22);

 
    
}

.fa-solid:hover{
    color: #FFF(244, 225, 201);
    
}*/

.rock {
    background: url(../images/rockk.png) center no-repeat;
    background-color: rgb(239, 6, 6);
}

.paper {
    background: url(../images/paperr.png) center no-repeat;
    background-color: whitesmoke;
}

.scissors {
    background: url(../images/scissorss.png) center no-repeat;
    background-color: whitesmoke;
}

.button {
    margin:13px 20px 5px;
    cursor:pointer;
    border:none;
    border-radius:50%;
    color:#fff;
    padding:30px 30px;
    font-size: 16px;
    box-shadow: 3px 3px 0 #0f0f0f;
    border: 1px solid black;
    transition:.2s;

    
}
.fa-solid {
    font-size: x-large;
}
/*.user-choice {
    outline: #186bd7 solid 3px;

}

.computer-choice {
    outline: #0eda60 solid 3px;
}

*/



